/*connections*/
.connections {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  pointer-events: none;
}

.connections .path-incoming {
  stroke-dasharray: 1 15;
  -webkit-animation: dashdraw 1s linear infinite;
  animation: dashdraw 1s linear infinite;
  stroke-width: 8;
  fill: none;
  stroke-linecap: round;
  pointer-events: stroke;
  opacity: 0.6;
}

.connections .path-incoming:hover {
  opacity: 1;
}

@keyframes dashdraw {
  0% {
    stroke-dashoffset: 16;
  }
}
